<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

  $(document).ready(function(){
    $('#theForm').submit(function(e){
    	e.preventDefault();
    	var csrftoken = getCookie('csrftoken');
    	$.ajax({
	    	beforeSend: function(xhr, settings) {
	    	    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
	        	    xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        	}
	   		}, 
	      url: "/add_property",
	      method: "post",
	      data: $(this).serialize(),
	      success: function(serverResponse) {
	        $('#main-dashboard').html(serverResponse);
	      }
	    });
    });

    var icon = "<i class='fa fa-home fa-fw'></i>"
	$('input').addClass("form-control");
	$('textarea').addClass("form-control");
	$('select').addClass("form-control");

	$('#id_icon_type').change(function(){
		$('#preview i').removeClass();
    	$('#preview i').addClass(`fa fa-${$('#id_icon_type option:selected').text()} fa-5x`);
    });

    $('#id_icon_typecolor').change(function(){
    	$('#preview i').css('color', `blue`);
    });

   });
</script>

<style type="text/css">
	h2 {
		text-align: center;
	}

	.btn-circle {
  width: 8em;
  height: 8em;
  margin: 20px auto;
  text-align: center;
  padding: 6px 0;
  font-size: 1em;
  line-height: 1.42;
  border-radius: 4em;
}
</style>

<div class="row"><h2>Add a Property!</h2></div>

<form class="form-horizontal col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" method="post" enctype="multipart/form-data" action="/" id="theForm">
	{% csrf_token %}
	{% for field in form %}
	<fieldset class="form-group">
		<label>{{field.label}}</label>
		{{ field }}
		<small class="text-muted text-danger small">{{ field.errors }}</small>
	</fieldset>
	{% endfor %}
	<div class="row form-group">
		<div id="preview" class="col-sm-4 col-xs-12">
			<div class="btn btn-lg btn-default btn-circle">
				<i></i>
			</div>
		</div>
		<div class=" col-sm-2 col-sm-offset-4 col-xs-6">
			<a href="#" class="btn btn-success">Cancel</a>
		</div>
		<div class=" col-sm-2 col-xs-6">
			<button type="submit" class="btn btn-success">Submit</button>
		</div>
	</div>
</form>