
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}{% endblock %}</title>
    <script src="{% static 'main/js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
    <script src="{% static 'main/js/index.js' %}"></script>

  </head>
  <style>
    body{
      padding-top: 60px;
    }
  </style>
  <body>

    {% include 'main/dashboard.html' %}
    <div class="container" id="body">

        <!-- ajax return -->

        <!-- <p> you've done it wrong </p> -->


    </div>

    <hr>
    <div class="container">
      <footer>
        <p>&copy; 2016 company, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->



  </body>
</html>
