<div class="row middle-content">
  <div class="left-part properties">
    
    <div id="main-dashboard">
      <!-- MAIN DASHBOARD CONTENT AREA -->
    </div>
  </div>
  <div class="right-part">
    <div id="static-side-menu">
      <!-- STATIC SIDE MENU CONTENT: for LG -->
    </div>
  </div>
</div>

<nav id="slide-side-menu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
  <!-- SLIDE SIDE MENU CONTENT: for MD SM XS -->
</nav>

<div id="side-expand">
  <i class="fa fa-caret-left fa-3x" style="color: grey"></i>
</div>

<script>
  $(document).ready(function(){ 
    $('#side-expand').click(function() {
      $('#slide-side-menu').offcanvas('show');
    });
  });
</script>

<style type="text/css">

#static-side-menu{
  padding: 20px;
}



.middle-content {
  width: 100%;
  margin: 0;
}

.navmenu-fixed-right { /* Fixing Jasny Issue */
  left: auto !important;
}

#side-expand {
  position: fixed;
  background-color: silver;
  opacity: 0.5;
  border-bottom-left-radius: 10px; 
  border-top-left-radius: 10px;
  right: 0;
  top: 100px;
  height: 45px;
  width: 40px;
  z-index: 999;
  text-align: center;
}

/* Color Styling */

/*.properties{
  background-color: lightgray;
}*/



@media all and (max-width: 450px) {
  #slide-side-menu {
    visibility: visible;
    left: 0;
    min-height: 300px;
    right: 0;
    position: fixed;
  }
  .left-part {
    width: 100%;
    margin:0 auto;
    padding:0;
  }
  .right-part {
    visibility: hidden;
    height: 0px;
    width: 0px;
  }
}

@media all and (min-width: 450px) {
  #static-side-menu {
    visibility: hidden;
    height: 0px;
  }

  #slide-side-menu {
    visibility: visible;
    width: 400px;
    min-height: 300px;
    position:fixed; 
    right:0;
  }
}

@media all and (min-width: 650px) {
  #static-side-menu {
    visibility: hidden;
    height: 0px;
  }
  #slide-side-menu {
    visibility: visible;
    width: 400px;
    min-height: 300px;
    position:fixed; 
    right:0;
  }
}

@media all and (min-width: 800px) {
  #static-side-menu {
    visibility: hidden;
    height: 0px;
  }
  #slide-side-menu {
    visibility: visible;
    width: 400px;
    min-height: 300px;
    position:fixed; 
    right:0;
  }
}

@media all and (min-width: 1600px) {
  #static-side-menu {
    visibility: visible;
    width: 400px;
    height: auto;
    right:0;
  }
  #slide-side-menu,.slide-collapse-anchor, #side-collapse {
    visibility: hidden;
    height: 0px;
  }
  .left-part{
    display: inline-block;
    vertical-align: top;
    width: 75%;
    height: auto;
  }
  .right-part  {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: auto;
  }
  #side-expand {
    visibility: hidden;
  }
}

</style>
