<div class="row">
  <div class="col-lg-12 col-xl-9">
    <!-- MAIN DASHBOARD AREA -->
    <div id="main-dashboard" class="container">
    </div>
  </div>
  <div class="col-xl-3">
    <!-- STATIC SIDE MENU: for LG -->
    <div id="static-side-menu">
    </div>
  </div>
</div>





<!-- SLIDE SIDE MENU: for MD SM XS -->
<nav id="slide-side-menu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
  <div id="test">
    <a class="navmenu-brand" href="#">Brand</a>
    <ul class="nav navmenu-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</nav>

<div>
  <button type="button" data-toggle="offcanvas" data-target="#slide-side-menu"> 
    <span class="icon-bar">sdcsdc</span>
    <span class="icon-bar">sdcsdc</span>
    <span class="icon-bar">sdcsdc</span>
  </button>
</div>


  
    

<script>
  $(document).ready(function(){
    // $.ajax({
    //   url: "/properties",
    //   method: "get",
    //   success: function(serverResponse) {
    //     $('#main-dashboard').html(serverResponse);
    //   }
    // });. 
    $('myNavmenu').click(function() {
      $('.navmenu').offcanvas('show')
    });
  });
</script>

<style type="text/css">

#static-side-menu {
  padding: 20px;
}

#test{
  width: 500px;
}

.navmenu-fixed-right {
  left: auto !important;
}

.navmenu {
  width: 300px;
}

/* Color Styling */
.properties{
  background-color: lightgray;
}

.property-wrapper{
  background-color: whitesmoke;
}


@media all and (max-width: 450px) {
  #static-side-menu {
    visibility: hidden;
  }
  #slide-side-menu {
    visibility: visible;
    width: 400px;
    min-height: 300px;
    position:fixed; 
    right:0;
    background-color: #C0B08C;
  }
}

@media all and (min-width: 450px) {
  #static-side-menu {
    visibility: hidden;
  }
  #slide-side-menu {
    visibility: visible;
    width: 400px;
    min-height: 300px;
    position:fixed; 
    right:0;
    background-color: #C0B08C;
  }
}

@media all and (min-width: 650px) {
  #static-side-menu {
    visibility: hidden;
  }
  #slide-side-menu {
    visibility: visible;
    width: 400px;
    min-height: 300px;
    position:fixed; 
    right:0;
    background-color: #C0B08C;
  }
}

@media all and (min-width: 800px) {
  #static-side-menu {
    visibility: hidden;
  }
  #slide-side-menu {
    visibility: visible;
    width: 400px;
    min-height: 300px;
    position:fixed; 
    right:0;
    background-color: #C0B08C;
  }
}

@media all and (min-width: 1570px) {
  #static-side-menu {
    visibility: visible;
    width: 400px;
    min-height: 300px;
    position:fixed; 
    right:0;
    background-color: #C0B08C;
  }
  #slide-side-menu {
    visibility: hidden;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-3  {
    width: 25%;
  }
}

</style>
