<div class='container'>
    <div class='col-xs-offset-4' id='header'>
        <h3><a id='main_link'>{{property.name}}</a></h3>
    </div>

    <div id='mid_content'>
        <div class='inline col-xs-6'>
            <p>{{property.comment}}</p>
        </div>


        <button class="btn btn-default glyphicon-plus inline col-xs-2 col-xs-offset-2" id="add_event"> add_event </button>
    </div>

    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <input type="text" id="search" class="form-control" placeholder="Search">
    </div>

    <table class="table table-hover" id="event_table">
        {% for event in events %}
        <tr data_id='{{event.id}}'>
            <td> <div class='event-name'>{{event.name}} </div></td>
        </tr>
        {% endfor %}
    </table>
</div>

<style>

    #header, #mid_content{
        margin-bottom: 40px;
    }

    .inline{
        display: inline-block;
    }

    #search{
        margin-bottom: 20px;
    }
</style>

<script type="text/javascript">
var tempNotes= ['Note1','Note Content']

$(document).ready(function() {

    $('#add_event').click(function(){
        // alert(`/property/` + {{property.id}} + `/add_event`)
        window.location.hash = `/property/` + {{property.id}} + `/addEvent`;

    })

    $('#search').keyup(function(){
      var searchTerm = $('#search').val();
      $(`.event-name:not(:Contains("${searchTerm}"))`).parent().parent().fadeOut("slow");
      $(`.event-name:Contains("${searchTerm}")`).parent().parent().fadeIn("slow");
  });


  $('#main_link').click(function(){
      window.location.hash = '/property'
  });

    $('#event_table tbody tr').click(function() {
        $(this).addClass('active').siblings().removeClass('active');
        window.location.hash = '/property/{{property.id}}/event/' + $(this).attr('data_id')+ '/notes';

    });

});

$.expr[':'].Contains = function(a,i,m){
    	return jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase())>=0;
 	};



</script>
