<div class='container'>
    <div class='col-xs-offset-4' id='header'>
        <a id='prop_link'>Property Name</a>
        <h3>{{event.name}}</h3>

        <p>{{event.created_at}}</p>
    </div>

    <div id='mid_content' class='col-xs-offset-4'>
        <div class='inline col-xs-6'>
            <p>{{event.comment }}</p>
        </div>


        <button class="btn btn-default glyphicon-plus inline col-xs-2 col-xs-offset-2" id="add_event" role="button"> Add Note </button>

        <button class="btn btn-default glyphicon-plus inline col-xs-2 col-xs-offset-2" id="add_alert" role="button"> Add Alert </button>
    </div>

    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <input type="text" id="search" class="form-control" placeholder="Search">
    </div>


    <table class="table table-hover" id="note_table">
        <thead>
            <tr>
                <td><h3>Notes:</h3></td>
            </tr>
        </thead>
        {% for note in notes %}
        <tr data_id='{{note.id}}'>
            <td><p class='note_name'>{{ note.name }}</p></td>
        </tr>
        {% endfor %}

    </table>

    <table class="table table-hover" id="alert_table">
        <thead>
            <tr>
                <td><h3>Alerts:</h3></td>
            </tr>
        </thead>
        {% for alert in alerts %}
        <tr data_id='{{alert.id}}'>
            <td><p class='alert_name'>{{ alert.comment }}</p></td>
        </tr>
        {% endfor %}

    </table>
</div>

<style>

    #header, #mid_content{
        margin-bottom: 40px;
    }

    .inline{
        display: inline-block;
    }

    #search{
        margin-bottom: 20px;
    }
</style>

<script type="text/javascript">
$(document).ready(function() {


    $('#search').keyup(function(){
      var searchTerm = $('#search').val();
      $(`.property-name:not(:Contains("${searchTerm}"))`).parent().parent().fadeOut("slow");
      $(`.property-name:Contains("${searchTerm}")`).parent().parent().fadeIn("slow");
  });


$('#note_table tr').click(function() {
    window.location.hash = '/property/{{prop_id}}/event/{{event.id}}/note/'+$(this).attr("data_id")

});

$('#alert_table tr').click(function() {
    window.location.hash = '/property/{{prop_id}}/event/{{event.id}}/alert/'+$(this).attr("data_id")

});

    $('#event_table tbody tr').click(function() {
        $(this).addClass('active').siblings().removeClass('active');

    });
    $('#add_event').click(function(){
        window.location.hash = "/property/{{prop_id}}/event/{{event.id}}/addNote";
    });

    $('#add_alert').click(function(){
        window.location.hash = "/property/{{prop_id}}/event/{{event.id}}/addAlert";
    });



    $('#prop_link').click(function(){
        window.location.hash = '/property/'+{{prop_id}}+'/events'
    });


});

$.expr[':'].Contains = function(a,i,m){
    	return jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase())>=0;
 	};



</script>
