<div class='container'>
    <a id='prop_link'>{{property.name}}</a> <span> / </span>
    <a id='event_link'>{{event.name}}</a>

    <div id='header form-control'>
        <h1> NOTE </h1>
        <br>
        <br>
        <h4>Name:</h4>
        <p>{{note.name}}</p>
        <br>
        <h4>Description:</h4>
        <label type='text' name='comment'>{{ note.comment }}</label>

    </div>
    <br>
    <br>

    {% if documents %}
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}
        <form id='theForm' method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <input type='hidden' value='{{note.id}}' name='note_id'/>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            <input type="submit" value="Upload">
        </form>

</div>

<style>

    ul{
        columns: 2;
        list-style: none;
    }
    #header{
        margin-bottom: 40px;
    }

    .inline{
        display: inline-block;
    }

    #search{
        margin-bottom: 20px;
    }
</style>

<script type="text/javascript">
$(document).ready(function() {

    $('#event_link').click(function(){
        window.location.hash = '/property/{{prop_id}}/event/{{event_id}}'
    });
    $('#prop_link').click(function(){
        window.location.hash = '/property/{{prop_id}}/events'
    });

    $('#note_update').submit(function(e){
    	e.preventDefault();
    	var csrftoken = getCookie('csrftoken');
    	$.ajax({
	    	beforeSend: function(xhr, settings) {
	    	    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
	        	    xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        	}
	   		},
	      url: '/property/'+{{prop_id}}+'/event/'+{{event_id}}+'/note/'+{{note.id}}+'/add_file',
	      method: "post",
	      data: $(this).serialize(),
	      success: function(serverResponse) {
	        window.location.hash = '/property/'+{{prop_id}}+'/event/'+{{event_id}}+'/note/'+{{note.id}};
	      },
	      error: function(serverResponse) {
	      	console.log(serverResponse);
	        $('#main-dashboard').html(serverResponse.responseText);
	      }
	    });
    });

    $('#theForm').submit(function(e){
  	  e.preventDefault();
  	  var csrftoken = getCookie('csrftoken');

      $.ajax({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          },
        url: 'property/{{prop_id}}/event/{{event_id}}/note/{{note_id}}/add_file',
        method: "post",
        data: new FormData($("#theForm").get(0)),
        cache: false,
        processData: false,
        contentType: false,
        success: function(serverResponse) {
             window.location.hash = 'property/{{prop_id}}/event/{{event_id}}/note/{{note_id}}';
        },
        error: function(serverResponse) {
          $('#main-dashboard').html(serverResponse.responseText);
        }

      });


    //   $('#update_note_form').submit(function(e){
    //       alert('got here')
    // 	  e.preventDefault();
    // 	  var csrftoken = getCookie('csrftoken');
      //
    //     $.ajax({
    //         beforeSend: function(xhr, settings) {
    //             if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
    //                 xhr.setRequestHeader("X-CSRFToken", csrftoken);
    //             }
    //         },
    //       url: 'property/'+{{prop_id}}+'/event/'+{{event_id}}+'/note/'+{{note_id}}+'/update_note',
    //       method: "post",
    //       cache: false,
    //       processData: false,
    //       contentType: false,
    //       success: function(serverResponse) {
    //            window.location.hash = 'property/'+{{prop_id}}+'/event/'+{{event_id}}+'/note/'+{{note_id}};
    //       },
    //       error: function(serverResponse) {
    //         $('#main-dashboard').html(serverResponse.responseText);
    //       }
    //     });
    });
});
$.expr[':'].Contains = function(a,i,m){
    	return jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase())>=0;
 	};



</script>
