<div class='container'>
    <div id='header'>
        <h4>New Note</h4>
    </div>

    <div id='mid_content form-control'>
        <p>asdfjzasfjzasdjdasfj:</p>
        <p>{{ note.name }}</p>
        <br>
        <br>
        <p>Description:</p>
        <p>{{ note.comment }}
    </div>

    <p>DISPLAY ATTACHED FILES HERE </p>
</div>

<style>

    ul{
        columns: 2;
        list-style: none;
    }
    #header, #mid_content{
        margin-bottom: 40px;
    }

    .inline{
        display: inline-block;
    }

    #search{
        margin-bottom: 20px;
    }
</style>

<script type="text/javascript">
var tempNotes= ['Note1','Note Content']
$(document).ready(function() {

    $('#search').keyup(function(){
      var searchTerm = $('#search').val();
      $(`.property-name:not(:Contains("${searchTerm}"))`).parent().parent().fadeOut("slow");
      $(`.property-name:Contains("${searchTerm}")`).parent().parent().fadeIn("slow");
  });


    $('#event_table tbody tr').click(function() {
        $(this).addClass('active').siblings().removeClass('active');

    });
    // when add event is clicked have a server call to retun partial event template form.
    $('#add_event').click(function(){
        alert('insert note partial here')
    });
});

$.expr[':'].Contains = function(a,i,m){
    	return jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase())>=0;
 	};



</script>
