<div class='container'>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="prop-desc-part col-sm-8">
                    <h2><i class="fa fa-{{property.icon_type.name}}" style="color: {{property.icon_color.color}}"></i> {{property.name}}</h2>
                    <p><strong>EVENT COMMENT:</strong><br>{{event.comment}}</p>
                </div>
                <div class="add-event-part col-xs-6 col-sm-2">
                    <button id="add_note" class="btn btn-lg btn-default btn-circle btn-add"><i class="fa fa-plus fa-3x" style="color: grey"></i></button>
                    <p>Add a note</p>
                </div>
                <div class="add-event-part col-xs-6 col-sm-2">
                    <button id="add_alert" class="btn btn-lg btn-default btn-circle btn-add"><i class="fa fa-plus fa-3x" style="color: grey"></i></button>
                    <p>Add an alert</p>
                </div>
            </div>
            <div class="row">
                <input type="text" id="search" class="form-control" placeholder="Dynamically search for notes and alerts...">
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="table-title">Notes</h3>
    </div>
    <table class="table table-hover" id="note_table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Comment</th>
                <th class="sm-and-up">Date Created</th>
            </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr data_id='{{note.id}}'>
                <td><div class='note_name'>{{note.name}}</div></td>
                <td>{{note.comment}}</td>
                <td class="sm-and-up">{{note.created_at.date}}</td>
            </tr>
        {% endfor %}
        </tbody>        
    </table>
    <div class="row">
        <h3 class="table-title">Alerts</h3>
    </div>
    <table class="table table-hover" id="alert_table">
        <thead>
            <tr>
                <th>Comment</th>
                <th>Date</th>
                <th class="sm-and-up">Time</th>
            </tr>
        </thead>
        <tbody>
        {% for alert in alerts %}
            <tr data_id='{{alert.id}}'>
                <td><div class='alert_name'>{{alert.comment}}</div></td>
                <td>{{alert.when.date}}</td>
                <td class="sm-and-up">{{alert.when.time}}</td>
            </tr>
        {% endfor %}
        </tbody>        
    </table>     
</div>


<!-- 
<div class='container'>
    <a id='prop_link'>{{property.name}}</a> <span> / </span>
    <a id='event_link'>{{event.name}}</a>

    <div id='header form-control'>
        <h1> NOTE </h1>
        <br>
        <br>
        <h4>Name:</h4>
        <p>{{note.name}}</p>
        <br>
        <h4>Description:</h4>
        <label type='text' name='comment'>{{ note.comment }}</label>

    </div>
    <br>
    <br>

    {% if documents %}
                {% for document in documents %}
                    <a href='javascript:void(0)' class='file_link' data_item="{{ document.id }}">
                        {{ document.docfile.name }}
                    </a>
                {% endfor %}
        {% else %}
            <p>No documents.</p>
        {% endif %}
        <form id='theForm' method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <input type='hidden' value='{{note.id}}' name='note_id'/>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
        </form>
        <iframe  id='file_frame'></iframe>

</div> -->

<style>

    #file_frame{
        width: 100%;
        height: 400px;
        border: 0;
    }
    #header{
        margin-bottom: 40px;
    }

    .inline{
        display: inline-block;
    }

    #search{
        margin-bottom: 20px;
    }

    .file_link {
        display: block;
    }
</style>

<script type="text/javascript">
$(document).ready(function() {


    $('#event_link').click(function(){
        window.location.hash = '/property/{{prop_id}}/event/{{event_id}}/notes'
    });



    $('#prop_link').click(function(){
        window.location.hash = '/property/{{prop_id}}/events'
    });

    $('#note_update').submit(function(e){
    	e.preventDefault();
    	var csrftoken = getCookie('csrftoken');
    	$.ajax({
	    	beforeSend: function(xhr, settings) {
	    	    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
	        	    xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        	}
	   		},
	      url: '/property/{{prop_id}}/event/{{event_id}}/note/{{note.id}}/add_file',
	      method: "post",
	      data: $(this).serialize(),
	      success: function(serverResponse) {
	        window.location.hash = '/property/{{prop_id}}/event/{{event_id}}/note/{{note.id}}';
	      },
	      error: function(serverResponse) {
	      	console.log(serverResponse);
	        $('#main-dashboard').html(serverResponse.responseText);
	      }
	    });
    });

    $('.file_link').click(function(){
        console.log( window.location.origin +"/attachment/"+ $(this).attr('data_item'));
        // alert(window.location.origin + $(this).attr('data_item'))
        // $('#file_frame').src = window.location.origin +"/attachment/"+ $(this).attr('data_item');
        // window.location.href = window.location.origin +"/attachment/"+ $(this).attr('data_item');
        $('#file_frame').attr('src',window.location.origin +"/attachment/"+ $(this).attr('data_item'));
        // $.ajax({
        //     url: window.location.origin +"/attachment/"+ $(this).attr('data_item'),
        //     method: "get",
        //     success: function(serverResponse) {
        //         // $('#main-dashboard').html(serverResponse);
        //     }
        // });


    })

    $('#id_docfile').on('change', function(e){
  	  e.preventDefault();
  	  var csrftoken = getCookie('csrftoken');

      $.ajax({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          },
        url: '/property/{{prop_id}}/event/{{event_id}}/note/{{note_id}}/add_file',
        method: "post",
        data: new FormData($("#theForm").get(0)),
        cache: false,
        processData: false,
        contentType: false,
        success: function(serverResponse) {
            //  window.location.hash = '/property/{{prop_id}}/event/{{event_id}}/note/{{note_id}}';
            loadNote([{{prop_id}},{{event_id}},{{note_id}}]);
        },
        error: function(serverResponse) {
          $('#main-dashboard').html(serverResponse.responseText);
        }

      });
    });
});
$.expr[':'].Contains = function(a,i,m){
    	return jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase())>=0;
 	};



</script>
