<style>
.property-wrapper {
	border: 2px solid #fe5f55;
	border-radius: 2em;
	padding: 0;
	margin: 1em 0em;
	text-align: center;
}

.btn-circle {
  width: 8em;
  height: 8em;
  margin: 20px auto;
  text-align: center;
  padding: 6px 0;
  font-size: 1em;
  line-height: 1.42;
  border-radius: 4em;
  border: 1px solid #305D72;
}
.property-name, .add-property{
	border-top: 1px solid silver;
}

.property-wrapper{
  background-color: whitesmoke;
}

#search{
	margin-bottom: 1em;
}
h2 {
	text-align: center;
}
h4 {
	color: #305D72;
}
</style>
<script>
	$(document).ready(function(){
		$('#search').keyup(function(){
			var searchTerm = $('#search').val();
			$(`.property-name:not(:Contains("${searchTerm}"))`).parent().parent().fadeOut("slow");
			$(`.property-name:Contains("${searchTerm}")`).parent().parent().fadeIn("slow");
		});

		$(".property-name").parent().click(function(){
			window.location.hash = `/property/${$(this).attr("data-id")}/events`;
		});

		$(".add-property").parent().click(function(){
			window.location.hash = '/add_property';
		});
	});

	$.expr[':'].Contains = function(a,i,m){
		return jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase())>=0;
	};
</script>

<div class="main-section container">
	<h2 class="row colorblock">Properties</h2>

	<div class="row colorblock">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			<input type="text" id="search" class="form-control " placeholder="Search properties by name...">
		</div>
	</div>
	<div class="container"> <!-- containter ? -->
	<div id="properties-interface" class="row">
		{% for property in properties %}
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="property-wrapper" data-id="{{property.id}}">
				<button class="btn btn-lg btn-default btn-circle"><i class="fa fa-{{ property.icon_type.name }} fa-5x" style="color: {{ property.icon_color.color }}"></i></button>
				<div class="property-name" ><h4>{{ property.name }}</h4></div>
			</div>
		</div>
		{% endfor %}

		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="property-wrapper">
				<button class="btn btn-lg btn-info btn-circle btn-add"><i class="fa fa-plus fa-5x" style="color: gray;""></i></button>
				<div class="add-property"><h4>Add Property</h4></div>
			</div>
		</div>
	</div>
	</div>
</div>