

<style>
	body{
		background-color: #C0B08C;
	}
	.col-centered{
        float: none;
        margin: 0 auto;
    }
</style>
{% load staticfiles %}
<div class="container col-centered">
	<div class="row">
		<div col="col-sm-12">
			<img src="{% static 'main/img/templogo.png' %}" alt="HOW DID YOU FIND ME">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<form method="post" action="/accounts/login/" class="col-sm-12">
			{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" class="btn btn-primary">Login</button>
				<a id="register" class="btn btn-primary">Create New Account</a>
			</form>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('#register').click(function(){
			$.ajax({
	          url: "/accounts/register",
	          method: "get",
	          success: function(serverResponse){
	            $('#reg-panel').html(serverResponse)
	          }
	        })
		})
	})

		
</script>