{% extends 'main/base.html' %}

{% block title %} Register {% endblock %}

{% block body %}

<div class="container">
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<u><h1>{{ object.first_name }} {{ object.last_name }}</h1></u>
				<p>Username: {{ object.username }}</p>
				<p>Email: {{ object.email }}</p>
				<p>Joined: {{ object.date_joined }}</p>
				<p>Account Status: {{ object.is_active }}</p>
				<p>birthday: {{ object.userprofile.birthday }}</p>
				<p>Description: {{ object.userprofile.description }}</p>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}