{% extends 'accounts/accounts_base.html' %}
{% load staticfiles %}
{% block body %}

  	<div class="row">
  		<div class="col-sm-12" id="reg-panel">
  			<form method="post" action="/accounts/login/" class="col-sm-12">
  			 {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
            <div class="col-sm-12">
              <span class="text-danger small">{{ field.errors }}</span>
            </div>
            <div class="col-sm-12">{{ field }}</div>
          </div>
          {% endfor %}
  				<button type="submit" class="btn btn-primary col-xs-12">Login</button>
  				<a href="/accounts/register" class="btn btn-primary col-xs-12">Create New Account</a>
  			</form>
  		</div>
  	</div>


{% endblock %}